a{
    text-decoration: none;
}
@font-face {
    font-family: "letra";
    src: url(estilos/Leyan\ Xia\ -\ RemachineScript_Personal_Use.ttf);
}
section{
    width: 800px;
    height: 510px;
    float: left;
    background-image: url(imagenes/fondocabecera.png);
    
    
}
section h1{
    font-family: "letra";
    color: aliceblue;
    padding-left: 40px;
    font-size: 80px;
}
section p{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 40px;
    
}
section header{
    width: 800px;
    height: 80px;
    border-style: solid;
    background-color: black;
    box-sizing: border-box;
   
}
section header h3{
    float: right;
    color: aliceblue;
    margin-right: 10px;
    padding-top: 10px;
}
section header img{
    padding-top: 12px;
}



aside{
    width: 390px;
    height: 510px;
    float: left;
     box-sizing: border-box;
     text-align: center;
     border-style: solid;
 
}


aside h3{
    font-family: "letra";
    font-size: 35px;
    background-color: red;
    color: aliceblue;
    width: 200px;
    margin-left: 100px;
}
aside p:nth-child(even){
    width: 290px;
    background-color: blanchedalmond;
    margin-left: 50px;
    border-left-style: solid;
    border-bottom-style: solid;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}
aside p:nth-child(odd){
    width: 200px;
    background-color: blanchedalmond;
    margin-left: 50px;
    border-right-style: solid;
    border-bottom-style: solid;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
}
nav{
    clear: both;
    width: 100%;
    height: 80px;
    background-color: grey;
    color: aliceblue;
    padding-top: 0px;
    box-sizing: border-box;
    padding-left: 20px;
   border-style: solid;
   border-color: black;
}
nav #cuadro{
    height: 80px;
    width: 280px;
    float: left;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
   padding-top: 10px;
    box-sizing: border-box;
    padding-left: 10px;
   
}

nav div:hover{
    background-color: rgb(41, 38, 38);
}
footer{
    width: 100%;
    height: 430px;
    border-style: solid;
    box-sizing: border-box;
}
#foto{
    width: 230px;
    float: left;
    height: 300px;
    border-style: solid;
    margin-left: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
}





